body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 500px;
    height: 100%;
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.note-line{
    width: 54px;
    height: 169px;
    background-image:url("../image/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;;
    margin: 0 auto;
}
.login-out{
    width: 500px;
    height: 350px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: -30px auto;
    background-color: #ffffff;
    opacity:0.2;
    position: relative;
}
.aperture{
    width: 100px;
    height: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    position: relative;
    top: 25px;
    left: 200px;
    background-color: #93AB8B;
}

.login{
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    position: relative;
    top: -180px;
    left:35%;
}

.user-pass{
    position: relative;
    top: -280px;
    left: 43%;
}
.username input , .password input{
    height: 42px;
    width: 250px;
    border: thin solid #ECFAFB;
    border-radius:3px;
}
.password input,.checking,.auto-pass,.submit-reg{
    margin-top: 20px;
}
.submit{
    width: 95px;
    height: 35px;
    background-color: #91C46C;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.register{
    width: 95px;
    height: 35px;
    background-color: #ffffff;
    margin-left: 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.auto-pass{
    font: 14px '微软雅黑';
}
.auto-pass > span{
    margin-left: 100px;
    color: red;
}
.error{
    width: 160px;
    height: 40px;
    background-image: url("../image/error.png");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    /*left: 10px;*/
    z-index: 1;
}
.error span{
    position: relative;
    top: 17px;
    left: 33px;
}
